#### oops concepts in python

In [1]:
#global variable
#local variable
#polymorphism
#encapsulation
#inheritence
#Abstraction

In [2]:
class class_name:
    pass
#class_name >>>>> class name
#pass >>>> placeholder
#class is a keyword

In [8]:
class Student:
    name = "ritik"
    age = 20
    print(f"my name is {name} and my age is {age}")
obj_St = Student()

my name is ritik and my age is 20

In [10]:
obj_St.name

'ritik'

In [11]:
obj_St.age

20

In [13]:
class Student:
    name = "ritik"
    age = 20

    def info(self): ## info is method and self is parameter ya object keyword

        print("this is my first method")
        print("hoe are you all")

dt_obj = Student()

In [ ]:
class Student:
    name = "ritik"
    age = 20

    def info(self): ## info is method and self is parameter ya object keyword

        print(name)
        print(age)

dt_obj = Student()

In [ ]:
class Student:
    name = "ritik"
    age = 20

    def info(self): ## info is method and self is parameter ya object keyword

        print(f"my name is {self.name} and my age is {self.age}")
        

dt_obj = Student()

In [15]:
dt_obj.info()

my name is ritik and my age is 20

#### Inheritence
     types of inheritence
    *single inheritence
    *multiple inheritence
    *multilevel inheritence
    *hierarchical inheritence
    *hybrid inheritence

In [16]:
# class college:
#     pass
# class student:
#     pass

In [ ]:
### single inheritence
class college:
    college_name = "Raffles university"
    college_address = "Neemrana"

class student(college):
    student_name = "Bhupesh"
    student_id = "1234"
st_obj = student()
print(st_obj.college_name)
print(st_obj.college_address)
print(st_obj.student_name)
print(st_obj.student_id)

Raffles university
Neemrana
Bhupesh
1234

In [ ]:
class Father:
    father_name = "Ritik"
    father_id = "1234"
class Uncle:
    uncle_name = "Rohit kumar"
class child(Father,Uncle):
    pass

obj_child = child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

Mani prakash
1234
Rohit kumar

In [6]:
#### multiple inheritence 
class Grandfather:
    grandfather_name = "Ritik"
    grandfather_id = "1234"

class Father(Grandfather):
    father_name = "Rohit kumar"
    father_id = "1234fjkd"

class child(Father):
    pass
obj_child =child()

print(obj_child.grandfather_name)
print(obj_child.grandfather_id)
print(obj_child.father_name)
print(obj_child.father_id)

Ritik
1234
Rohit kumar
1234fjkd

In [27]:
### Encapsulation 
# private
# public 
# protected

class student:
    __name = "ritik " ### private variable
    age = 20  ### pubvlic variable
    _id = "1234" ### protected variable
st_obj = student()

In [28]:
st_obj.age

20

In [29]:
st_obj._student__name

'ritik '

In [4]:
st_obj._id

'1234'

In [ ]:
# bank >>> task

# account number private
# name 
# address
# phone number
# method
# total balance

In [30]:
class Bank:
    __accountnumber = "26484998998"
    accountholdername ="Bhupesh"
    address ="Neemrana"
    phonenumber ="7357975446"
    methods ="cash" 
    accountbalance ="18670"

st_obj =Bank()

In [31]:
st_obj.accountbalance

'18670'

In [32]:
st_obj.accountholdername

'Bhupesh'

In [33]:
st_obj.address

'Neemrana'

In [35]:
st_obj.Bank__accountnumber

AttributeError: 'Bank' object has no attribute 'Bank__accountnumber'

In [36]:
#7 july tasks

# task1 >>>>>super function
# task1 >>>>>Bmi calculator

In [37]:
### constructor

#init method
#__init__

class Student:
    def __init__(self):
        pass
Student()

In [39]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age #### instance variable

obj_St = Student(name = "Bhupesh",age = 21)

obj_St.name

'Bhupesh'

In [40]:
obj_St.age

21

In [3]:
class student:
    def __init__(self,name,age,address):
        self.name = name
        self.age = age
        self.address = address
        
    def display(self):
        print(f"my name is {name} and my age is {age} and my address is {address}")

obj_St = student( name= "Bhupesh", age = 21, address = "neemrana" )

obj_St.display()

NameError: name 'name' is not defined

In [16]:
# project task
# class Bank
# contructore
# init method
# __init__
# account number private

In [ ]:
class Bank:
    def __init__(self, acc_no, name, address, phone, balance):
        self.acc_no = acc_no
        self.name = name
        self.address = address
        self.phone = phone
        self.balance = balance

    def my_details(self):
        print("Account Number:", self.acc_no)
        print("Name:", self.name)
        print("Address:", self.address)
        print("Phone:", self.phone)
        print("Balance:", self.balance)

    def deposit(self, amount):
        self.balance = self.balance+amount
        print(f"{amount} deposited. New balance:- {self.balance}")

    def withdraw(self, amount):
            self.balance = self.balance-amount
            print(f"{amount} withdrawn. Remaining balance:- {self.balance}")

Bn_obj = Bank(575944959040499, "Bhupesh", "Neemrana", "7357975446", 6000)

Bn_obj.my_details()

Account Number: 575944959040499
Name: Bhupesh
Address: Neemrana
Phone: 7357975446
Balance: 6000

In [11]:
Bn_obj.deposit(300)

300 deposited. New balance: 6300

In [12]:
Bn_obj.withdraw(4000)

4000 withdrawn. Remaining balance: 2300

In [ ]:
# Task >>>> 7jul >>> home work1
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")

class Employee(Person):
    def __init__(self, name, age, emp_id, salary):
        super().__init__(name, age)
        self.emp_id = emp_id
        self.salary = salary

    def show_info(self):
        super().show_info()            
        print(f"Employee ID: {self.emp_id}")
        print(f"Salary: ₹{self.salary}")

obj_emp = Employee("Bhupesh", 22, "1234", 55000)
obj_emp.show_info()

Name: Bhupesh
Age: 22
Employee ID: 1234
Salary: ₹45000

In [1]:
class BMI_Calculator:
    def __init__(self, weight, height):
        self.weight = weight
        self.height = height 

    def calculate_bmi(self):
        bmi = self.weight / (self.height ** 2)
        return bmi

    def interpret_bmi(self):
        bmi = self.calculate_bmi()
        print(f"Your BMI is: {bmi:.2f}")

        if bmi < 18.5:
            print("You are Underweight.")
        elif bmi < 25:
            print("You have Normal weight.")
        elif bmi < 30:
            print("You are Overweight.")
        else:
            print("You are Obese.")


weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in meters: "))

obj_bmi = BMI_Calculator(weight, height)

obj_bmi.interpret_bmi()

Your BMI is: 19.72
You have Normal weight.